<body>


    <div class="body">
      <div class="container">
        <p id="notice"></p>
        <!-- <div class="row"> -->
    <div class="col-xs-3">
      <h2>User info</h2>
          <div><%= attachment_image_tag @user, :image, format: 'jpeg',fallback:'no_image.png'  ,size: '100x100' %></div>
          
          <table class="table">
            <tbody>
            <tr>
              <th>name</th>
              <th><%= user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= user.introduction %></th>
            </tr>
          </tbody>
      </table>

      <div class="row">
        <%= link_to "", edit_user_path(user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
      </div>

      <h2>New book</h2>
          <%= form_for(book_new) do |f| %>
          <div class="field row">
              <h4> Title </h4>
              <%= f.text_field :title, class: "col-xs-12"%>
          </div>
          <div class="field row">
              <h4> Opinion </h4>
              <%= f.text_area :body, class: "col-xs-12" %>
          </div>
          <div class="field action row">
              <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
          </div>
          <% end %>
  